.ballepenis {
    display: flex;
    margin: 10px;
    flex-grow: 1;
    flex-basis: 350px;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    min-width: 500px;
    min-height: 100px;
    max-width: 500px;
    max-height: 100px;
}
.index-link {
    left: 0px;
    margin-top: -0px;
    top: 0;
    position: absolute;
}
.KatalogButton {
    right: 0px;
    margin-top: -0px;
    top: 0;
    position: absolute;
}
.LagerButton {
    right: 115px;
    margin-top: -0px;
    top: 0;
    position: absolute;
}
.SearchBar {
    left: 150px;
    position: absolute;
    top: 0;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-grow: 1;
    flex-basis: 350px;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 40px;
    width: 200px;
}
.ballepenis .OwO,
.ballepenis button {
    width: 0;
    display: block;
    margin-top: 1px;
    flex-grow: 1;
}
.ballepenis .OwO p{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bodyItemList {
    padding-top: 120px; 
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.h1ItemList {
    color: #333;
    margin-bottom: 20px;
}

#itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    flex-flow: row wrap;
}

.ballepenis {
    display: flex;
    margin: 10px;
    flex-grow: 1;
    flex-basis: calc(50% - 20px);
    gap: 10px;
}
#logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 300px;
    height:auto;
}

.OwO {
    padding: 10px;
}
.bodyindex {
    padding-top: 120px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 120;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.h2Index {
    margin-top: 10px;
    color: #333;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.formIndex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputIndex {
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 5px;
}

button {
    height: 50px;
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #157034;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #008b46;
}
footer {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #157034;
    color: #fff;
    padding: 0px;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-left: 0;
    padding-left: 0;
}

footer img {
    height: 150px;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer-text {
    text-align: center;
    width: 100%;
    margin-right: 100px;
}
